* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  font-family: "Tenor Sans", sans-serif;
}

body {
  background: linear-gradient(90deg, #000, #61eb7c);
  height: 100vh;
}

/*estilizando o menu navegacional*/

header.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header.menu figure img {
  width: 150px;
}

header.menu nav.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

header.menu nav.menu-nav li.menu-itens a {
  color: #000;
  font-size: clamp(0.7em, 1em + 1vw, 1.1em);
  font-weight: 400;
}

header.menu nav.menu-nav li.menu-itens a:hover {
  color: #505050;
}

/*estilizando a apresentação principal*/

article.apresentacao {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 15rem;
  gap: 2rem;
  color: #fff;
}

article.apresentacao header.apresentacao-title {
  text-align: center;
  font-weight: 400;
  font-size: clamp(1.1em, 1em + 1vw, 1.8em);
}

article.apresentacao header.apresentacao-title b {
  color: #61eb7c;

  animation: blink 2.5s infinite;
}

article.apresentacao h1.apresentacao-title-hiden {
  visibility: hidden;
}

article.apresentacao div.apresentacao-text p {
  margin-top: 3rem;
  font-size: clamp(1.1em, 1em + 1vw, 1.3em);
  font-weight: 400;
  width: 50vw;
}

article.apresentacao div.apresentacao-text p::after {
  content: "|";
  color: #000;
  font-size: 1.8rem;
  font-weight: 900;
  margin-left: 5px;

  animation: blink 0.7s infinite;
}

article.apresentacao button.apresentacao-btn {
  margin-right: 43vw;
  padding: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #61eb7c;
  box-shadow: 2px 2px 4px -2px #000;
  cursor: pointer;
}

article.apresentacao button.apresentacao-btn:hover {
  background-color: #93fca8;
  box-shadow: 2px 2px 4px #fff;
}

article.apresentacao button.apresentacao-btn a {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

/*estilizando o footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-size: clamp(0.8em, 1em + 1vw, 1.2em);
  font-weight: 400;
}

footer b {
  color: #61eb7c;
}

/*criação da animação maquina de escrever*/

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Trabalhando com responsividade*/

@media screen and (max-width: 920px) {
  article.apresentacao header.apresentacao-title {
    visibility: hidden;
  }

  article.apresentacao h1.apresentacao-title-hiden {
    visibility: visible;
  }

  article.apresentacao div.apresentacao-text p {
    width: 80vw;
  }

  article.apresentacao button.apresentacao-btn {
    margin-right: 33vw;
  }
}
